@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Special+Elite&display=swap');







/* .........................................Colours */

body {

    background-color: #D7CBBD;
}
.img-thumbnail {

    background-color: #D7CBBD;
}










/* .........................................Nav Bar */
header {

   
    font-family: "Special Elite";
}

.navbar-brand {

    max-height: 80px;
    padding: 0px;
}

.navbar-text {
    font-weight: 900;
    font-size: 30px;

}


.logo {
    
    
    font-size: 80px;   
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;


}

/* .........................................Body */


h1{

    font-family: "Special Elite" , sans-serif;
}


.main-body {

    font-family: "Merriweather" , sans-serif;
    text-align: center;
    margin-top: 8%;
}



.card-title {
    font-family: "Special Elite" , sans-serif;;
    margin-top: 90%;
}

.card-text {

    font-family: "Merriweather", sans-serif;
}



  