@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Special+Elite&display=swap');

header {

   
    font-family: "Special Elite";
}

.navbar-brand {

    max-height: 80px;
    padding: 0px;
}

.navbar-text {
    font-weight: 900;
    font-size: 30px;

}


.logo {
    
    
    font-size: 80px;
    
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;


}

  